/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7-mar-2015, 7.05.00
    Author     : Marco Bonaventura
*/

/* ..... global reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, header, nav, article, aside, hgroup, section {

    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    text-decoration: none;
        

}

section, article, header, footer, nav, aside, hgroup { display: block; }

/* ...... web font embedding */

@font-face {

    font-family: 'SansationRegular';
    src: 
    url('Sansation_Regular.eot?'),
    url('Sansation_Regular.woff') format('woff'), 
    url('Sansation_Regular.ttf') format('truetype'), 
    url('Sansation_Regular.svg#webfontLr2B6u5e') format('svg');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    
    font-family: 'SansationBold';
    src: 
    url('Sansation_Bold.eot?'),
    url('Sansation_Bold.woff') format('woff'), 
    url('Sansation_Bold.ttf') format('truetype'), 
    url('Sansation_Bold.svg#webfont8dfDl0fr') format('svg');
    font-weight: normal;
    font-style: normal;

}

time { color: aquamarine; font-size: 14px; }

a { text-decoration: none; color: blue; }

dl { float:right; display: inline;} 
dt { float:left; display: inline; margin-right:10px; } 
dd { float: left; display: inline; margin-right:50px; color: blue; }
ul { display: inline; }
li { display: inline; margin-left: 50px; margin-right: 50px;}



html, body {
    
    height:100% !important;
    min-height: 100%;

    font-family: Arial,Helvetica,sans-serif;
    
    margin:0 auto;
    padding:0;
    border: 0;
    
    background-color: grey;
    
    overflow-x: hidden;
    
    
}


header {
    position:fixed;
    top: 0;
    float: left;
    
    height: 150px;
    width: 100%;
    z-index: 1;
    background-color: cornflowerblue;

}


#wrapper {
    
    width: 100%;
   
    height: 100%;
    height:auto !important;
    min-height: 100%;
       
    position: relative;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    
    margin: 0 auto;
    padding: 0;
    margin-top: 120px;
    
    border-left-color: whitesmoke;
    border-right-color: whitesmoke;
    
    border-left-style: solid;
    border-right-style: solid;
    
    border-right-width: 3px;
    border-left-width: 3px;

    background-color: whitesmoke;
        
}




/*
nav {
    
    float: left;
    display: inline;
    height: 40px;
    width: 100%;
    position: absolute;
    text-decoration: none;
    text-align: center;
    color: white;
    
}
*/

#spessore {
    
    float:left;
    display:block;
    width:100%;
    height: 100px;
}

article {
    
    width: 100%;
    display: inline;
    margin-top: 100px;
    color: midnightblue;
    padding: 0;
}

article ul {
    
    float: left;
    height: 100%;
    width: 100%;
    
}

article ul.suspended {
    
    float: left;
    height: 100%;
    width: 100%;
    color: #bbb;
}

article li {
    
    display: inline; 
    margin: 0; 
    /*background-color: yellow;*/
    font-size: 16px;
}


article li#stop {
    
}


    article li#day {
    
        float:left;
        height: 100%;
        width: 100%;
        padding-bottom: 30px;
        text-align: center;
        /*background-color: mediumspringgreen;*/
        font-size: 20px;
    }

    article li#id {
    
        /*display: none;*/
        width: 3%;
        margin-left: 2%;
    }
    
    article li#lib {
    
        width: 4%;
    }   
    
    article li#macro {
    
        width: 4%;
    }
    
    article li#susp {
        
        display:none;
        width: 1%;
        background-image: url(images/switch_on_off.png);
        
    }
    
    article li#nome {
    
        width: 8%;
    }
    
    article li#param {
        
        width: 39%;
       
    }
    
    article li#desc {
        
        font-style: italic;
        min-width: 37%;
        width: 29%;
       
    }
    
    article li#edit {
        width: 4%;
        /* padding-right: 1%; */
        
    }
    
    article li#spazio2 {
        float: left;
        display: block;
        width: 100%;
        transition: background-color 1s ease;
        background-color: whitesmoke;      
        padding-top: 10px;
        overflow: hidden;
        height: 10px;
        cursor: pointer;
    }
    
    article li#spazio3 {
        float: left;
        display: none;
        width: 100%;
        transition: background-color 1s ease;
        background-color: whitesmoke;      
        padding-top: 10px;
        overflow: hidden;
        height: 50px;
        cursor: pointer;
    }
    
    #insertJob {
        display: none;
        background: grey;
        color: #FFF;
        padding: 10px;
        list-style-type: none;

    }
    
    
    /* TOGLE INSERT SECTION */
    .toggle {
        width: 100%;
    }
    
    .less {
        display: block;
        float: left;
        width: 96%;
        height: 16px;
        cursor: pointer;
        margin-left: 2%;
        margin-right:2%;
        padding: 0;
        
        
        background-color: #FFFFFF;
    }
    .less.active .button-read-more {
        display: none;
        padding: 0;
        height: 16px;
        
     }
    .button-read-less {
        display: none;
        padding: 0;
        height: 16px;
    }
    .less.active .button-read-less {
        width: 100%;
        display: block; 
        padding: 0;
        padding-top: 3px;
        height: 16px;
        
        background-color:#1f7aab; 
        -webkit-border-bottom-right-radius: 4px;
        -webkit-border-bottom-left-radius: 4px;
        -moz-border-radius-bottomright: 4px;
        -moz-border-radius-bottomleft: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
      
    }
    .less:hover{
        background-color: #d6d6d6;
        transition: background-color 1s ease;
    }
    .more {
        display: block;
        width: 96%;
        margin-left: 2%;
        margin-right:2%;
        padding-bottom: 14px;
        
        display: inline-block;
        height: 122px;
        color: blue;
        /*background-color: grey;*/
    }
    .more p {
        margin: 0;
        padding: 0;
       
    }
    /* END TOGLE INSERT SECTION */
    
    
    
    /* TOGLE EDIT SECTION */
    /*
    .toggle-INSERT {
        width: 100%;
    }
    
    .less-INSERT {
        display: block;
        float: left;
        width: 96%;
        cursor: pointer;
        margin-left: 2%;
        margin-right:2%;
        margin-top: 3px;
        margin-bottom: 3px;
        padding-top: 3px;
        background-color: #FFFFFF;
    }
    .less-INSERT.active .button-read-more-INSERT {
        display: none;
     }
    .button-read-less-INSERT {
        display: none;
    }
    .less-INSERT.active .button-read-less-INSERT {
        display: block; 
    }
    .less-INSERT:hover{
        background-color: #d6d6d6;
        transition: background-color 1s ease;
    }
    .more-INSERT {
        display: block;
        width: 96%;
        margin-left: 2%;
        margin-right:2%;
        padding-bottom: 28px;
        margin-top: 3px;
        display: inline-block;
        height: 122px;
        color: blue;
        background-color: grey;
    }
    .more-INSERT p {
        margin: 0;
        padding: 0;
       
    } */
    
    
    /* END TOGLE INSERT SECTION 
    */
    
    
    article li#spazio2:hover {
        
        background-color: #d6d6d6;
    }
    
    article li#spazio3:hover {
        
        background-color: #d6d6d6;
    }
    
    article li#spazio {
        display: inline;
        float: left;
        height: 40px;
        width: 100%;
        /*background-color: #08b;*/
    }
    
    #push-down {
        float: left;
        width: 100%;
        height: 500px;
       
    }


section {
    
    display: inline;
    float: left;
    width: 100%;
    margin-bottom: 200px;
    margin-top: 20px;
   
    
    height: 100%;
    height:auto !important;
    min-height: 100%;
    
    /*background-color: whitesmoke;*/
    
}

    #id {

        display: inline;
        float:  left;

    }

    #lib {
        display: inline;
        float:  left;

    }

    #macro {
        display: inline;
        float:  left;

    }

    #susp {
        display: inline;
        float:  left;

    }

    #nome {
        display: inline;
        float:  left;

    }
    
    #param {
        display: inline;
        float:  left;
    }

    #desc {
        display: inline;
        float:  left;

    }

    .Giornalieri {}
    .Lunedi {}
    .Martedi {}
    .Mercoledi {}
    .Giovedi {}
    .Venerdi {}
    .Sabato {}
    
    
footer {
    
    clear: both;
    float: left;
    
    height: 30px;
    width: 100%;
    
    
    color: aquamarine;
    font-size: 14px;
    
    bottom: 0;
    position: absolute;
    
    padding: 0;
    padding-top: 5px;
    margin: 0 auto;
    
    background-color: steelblue;
    
    
}


/******   FORM CSS   ******/
.form { 
    width: 100%; 
    height: 100%;
    border-width: 0; 
    border-color:#ddd;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
    background: #1f7aab;
    background: -webkit-gradient(linear, left top, left bottom, from(#6ec5e0), to(#1f7aab));
    background: -webkit-linear-gradient(top, #6ec5e0, #1f7aab);
    background: -moz-linear-gradient(top, #6ec5e0, #1f7aab);
    background: -ms-linear-gradient(top, #6ec5e0, #1f7aab);
    background: -o-linear-gradient(top, #6ec5e0, #1f7aab);
    background-image: -ms-linear-gradient(top, #6ec5e0 0%, #1f7aab 100%);

    color: #1F1FAA;
    font-size: 16px; 
        
    padding-top: 10px;
    padding-bottom: 10px;
    
} 
.content { 
    margin: 0 auto;
    padding: 0;
} 
.form label { 
    color: #222222; 
    font-size: 16px; 
    margin-left: 5%;
} 

.form span {
    
    margin-left: 5%;
}
.form input[type=radio], input[type=checkbox]{ 
    width: 75%; 
} 
.form div { 
    display: inline;
} 
.form form select{ 
    border-width: 1px; 
    border-style: solid; 
    border-color: #666666; 
    border-radius: 4px; 
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 3px; 
    width: 100%; 
   
} 
.form form textarea#nota {
    border-width: 1px; 
    border-style: solid; 
    border-color: #666666; 
    border-radius: 4px; 
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 0px; 
    width: 100%; 
} 
.form form textarea#parametri  {
    border-width: 1px; 
    border-style: solid; 
    border-color: #666666; 
    border-radius: 4px; 
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 100%; 
    height: 100%;
} 

.form form radio#sospeso {
   
}

.form input{ 
    border-width: 1px; 
    border-style: solid; 
    border-color: #666666; 
    border-radius: 4px; 
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 3px; 
    width: 95%;
    height: 100%;
    margin-left: 10%;
   
    
} 
.form input#lib {
    float: left;
}
.form input:not([type=submit]):focus {
    background-color:lightgoldenrodyellow;
}
.form, .form h1, .form h2{ 
    font-family: 'Arial'; 
} 
.form h1{ 
    font-size: 40px; 
    color: #607A75; 
    padding: 0px; 
    margin: 0px; 
    margin-bottom: 10px; 
    border-bottom-style: dotted; 
    border-bottom-color: #CCCCCC; 
    border-bottom-width: 2px; 
    border-radius: 0px; 
    background-color: #FFFFFF; 
} 
.clear{ 
    clear: both; 
} 
.form textarea{ 
    height: 100px; 
    width: 100%; 
    padding: 3px;
   
} 
.form textarea:not([type=submit]):focus {
    background-color: lightgoldenrodyellow;
}
.form input[type=submit]{ 
    /*
    background: #384313;
    border: 0;
    height:100px;
    width:100px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 5px;
    color: #ccffff;
    letter-spacing: 1px;
    margin: auto;
    text-shadow: 0 1px 1px #000000;
    text-transform: uppercase;
    text-align: center;
    background-color: #666666;
    */
    height:100px;
    width:100px;
     text-shadow: #addc7e 0 1px 0;
    border: 1px solid #447314;
    background: #8dc059;
    background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#6aa436));
    background: -webkit-linear-gradient(top, #6aa436, #8dc059);
    background: -moz-linear-gradient(top, #6aa436, #8dc059);
    background: -ms-linear-gradient(top, #6aa436, #8dc059);
    background: -o-linear-gradient(top, #6aa436, #8dc059);
    background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
    color: #31540c;
    font-family: helvetica, serif;
   
} 
.form input[type=submit]:hover {
    /*
    
    background-color: #454545;
    color: #08b;
    */
    cursor: pointer;
    border: 1px solid #447314;
    text-shadow: #31540c 0 1px 0;
    background: #6aa436;
    background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
    background: -webkit-linear-gradient(top, #8dc059, #6aa436);
    background: -moz-linear-gradient(top, #8dc059, #6aa436);
    background: -ms-linear-gradient(top, #8dc059, #6aa436);
    background: -o-linear-gradient(top, #8dc059, #6aa436);
    background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
    color: #fff;
}
.field{ 
    
    margin: 0 auto;
    margin-left: 5%;
} 
/******   END FORM CSS   ******/







/* -----------------------------------
DESKTOP @640px MIN SCREEN
------------------------------------ */
@media only screen and (min-width: 640px)
{  
    
    section {
        
       
        
    }

}


/* -----------------------------------
DESKTOP @1024px MIN SCREEN
------------------------------------ */
@media only screen and (min-width: 1024px)
{  
    
    section {
        
       
        
    }

}



/* -----------------------------------
DESKTOP @1280px MIN SCREEN
------------------------------------ */
@media only screen and (min-width: 1280px)
{
    #wrapper {
        
        width: 1024px;;
                
    }
    
    section {
        
        
        
    }


}



/* -----------------------------------
DESKTOP @1366px MIN SCREEN
------------------------------------ */
@media only screen and (min-width: 1366px)
{  
    
    #wrapper {
        
        width: 1280px;
              
    }
    
    #header {
        float: left;
        width: 100%;
        top: 0;
        margin: 0;
        padding: 0;
        
    }

    section {
        
        
        
    }

}



/* -----------------------------------
DESKTOP @1900px MIN SCREEN
------------------------------------ */
@media only screen and (min-width: 1900px)
{  
    
    #wrapper {
        
        width: 1600px;
              
    }
    
    
    

}
